<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar nueva comida - ¿Qué comemos?</title>
</head>
<body>
  <app-admin-navbar></app-admin-navbar>
<h1>Agregar nueva comida</h1>
<form>
  <input type="text" placeholder="Nombre de la nueva comida" required>
  <input type="text" placeholder="Precio de la nueva comida" required>
  <select required>
    <option value="">Seleccione categoría</option>
    <option value="alimentos">Entrada</option>
    <option value="infraestructura">Plato principal</option>
    <option value="servicios">Bebida</option>
    <option value="otros">Postre</option>
  </select>
  <div class="checkbox-esComida">
    <input type="checkbox" id="esComida" name="esComida" value="Si">
    <label for="esComida">¿Se ofrece en la carta de comidas?</label>
  </div>

  <div class="input-group">
    <label for="fileInput">Agregar imagen (opcional)</label> <input
    type="file" id="fileInput">
  </div>

  <button type="submit">Agregar comida</button>

  <button class="cancel" [routerLink]="['/admin-comidas']">Cancelar</button>
</form>
</body>
</html>
