<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sugerencias de Usuarios - ¿Qué comemos?</title>
</head>
<body>
<nav>
  <div class="logo">
    <img src="../logo-facultad.png" alt="Logo de la Facultad">
    <h2>
      <a href="admin-home.html"
         style="color: inherit; text-decoration: none;">¿Qué comemos?</a>
    </h2>
  </div>
  <div class="profile">
    <img src="../user.jpg" alt="Foto del Usuario">
    <p>Salir</p>
  </div>
</nav>
<h1>Sugerencias de Usuarios</h1>
<table>
  <thead>
  <tr>
    <th>Usuario</th>
    <th>Tipo de Sugerencia</th>
    <th>Fecha</th>
    <th>Mensaje</th>
    <th class="actions">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Juan Pérez</td>
    <td>Alimentos</td>
    <td>27-sep-2024</td>
    <td>Sería genial tener más opciones vegetarianas en el menú.</td>
    <td class="actions">
      <button>Archivar</button>
    </td>
  </tr>
  <tr>
    <td>María Gómez</td>
    <td>Personal</td>
    <td>20-sep-2024</td>
    <td>Muy atentos y buena onda</td>
    <td class="actions">
      <button>Archivar</button>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
