<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sugerencias de Usuarios - ¿Qué comemos?</title>
</head>
<body>
  <app-admin-navbar></app-admin-navbar>
<h1>Sugerencias de Usuarios</h1>
<table class="sugerencias-table">
  <thead>
    <tr>
      <th class="col-usuario">Usuario</th>
      <th class="col-tipo-sug">Tipo de Sugerencia</th>
      <th class="col-fecha-sug">Fecha</th>
      <th class="col-mensaje">Mensaje</th>
      <th class="col-acciones">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-usuario">Juan Pérez</td>
      <td class="col-tipo-sug">Alimentos</td>
      <td class="col-fecha-sug">27-sep-2024</td>
      <td class="col-mensaje">Sería genial tener más opciones vegetarianas en el menú.</td>
      <td class="col-acciones">
        <div class="actions-container">
          <button>Archivar</button>
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-usuario">María Gómez</td>
      <td class="col-tipo-sug">Personal</td>
      <td class="col-fecha-sug">20-sep-2024</td>
      <td class="col-mensaje">Muy atentos y buena onda</td>
      <td class="col-acciones">
        <div class="actions-container">
          <button>Archivar</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>
