<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú del Día y Carta Completa</title>
</head>
</head>
<body>
<nav>
  <div class="logo">
    <img src="../logo-facultad.png" alt="Logo de la Facultad">
    <h2>
      <a href="usuario-home.html"
         style="color: inherit; text-decoration: none;">¿Qué comemos?</a>
    </h2>
  </div>
  <div class="profile">
    <img src="../user.jpg" alt="Foto del Usuario">
    <div class="dropdown">
      <button class="dropbtn">Mi Perfil</button>
      <div class="dropdown-content">
        <a href="usuario-editar-perfil.html">Editar perfil</a> <a
        href="logout.html">Salir</a>
      </div>
    </div>
  </div>
</nav>

<br></br>

<div class="container">
  <h1>Menú del Día</h1>

  <div class="menu">
    <div class="menu-info">
      <h2>Menú No Vegetariano</h2>
      <p>
        <strong>Entrada:</strong> Ensalada mixta
      </p>
      <p>
        <strong>Plato principal:</strong> Milanesa con puré
      </p>
      <p>
        <strong>Postre:</strong> Flan con dulce de leche
      </p>
      <p>
        <strong>Bebida:</strong> Gaseosa
      </p>
      <div class="menu-price">$500</div>
      <button>Ver detalle</button>
    </div>
    <div class="menu-actions">
      <select>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>

  <div class="menu">
    <div class="menu-info">
      <h2>Menú Vegetariano</h2>
      <p>
        <strong>Entrada:</strong> Sopa de verduras
      </p>
      <p>
        <strong>Plato principal:</strong> Milanesa de soja con puré
      </p>
      <p>
        <strong>Postre:</strong> Ensalada de frutas
      </p>
      <p>
        <strong>Bebida:</strong> Jugo natural
      </p>
      <div class="menu-price">$450</div>
      <button>Ver detalle</button>
    </div>
    <div class="menu-actions">
      <select>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>
  <br></br>

  <h1>Carta Completa</h1>

  <h3>Entradas</h3>

  <div class="carta-item">
    <img src="../imagen-no-disponible.jpeg" alt="Medialunas">
    <div class="carta-item-info">
      <div class="carta-item-name">Medialunas</div>
      <div class="carta-item-price">$50</div>
    </div>
    <select>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <div class="carta-item">
    <img src="../imagen-no-disponible.jpeg" alt="Café">
    <div class="carta-item-info">
      <div class="carta-item-name">Café</div>
      <div class="carta-item-price">$100</div>
    </div>
    <select>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <br></br>

  <h3>Platos principales</h3>

  <div class="carta-item">
    <img src="../imagen-no-disponible.jpeg" alt="Té">
    <div class="carta-item-info">
      <div class="carta-item-name">Té</div>
      <div class="carta-item-price">$80</div>
    </div>
    <select>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <div class="carta-item">
    <img src="../imagen-no-disponible.jpeg" alt="Agua mineral">
    <div class="carta-item-info">
      <div class="carta-item-name">Agua mineral</div>
      <div class="carta-item-price">$120</div>
    </div>
    <select>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <br></br>

  <h3>Postres</h3>

  <div class="carta-item">
    <img src="../imagen-no-disponible.jpeg" alt="Jugo de naranja">
    <div class="carta-item-info">
      <div class="carta-item-name">Jugo de naranja</div>
      <div class="carta-item-price">$150</div>
    </div>
    <select>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <div class="carta-item">
    <img src="../imagen-no-disponible.jpeg" alt="Jugo de naranja">
    <div class="carta-item-info">
      <div class="carta-item-name">Jugo de naranja</div>
      <div class="carta-item-price">$150</div>
    </div>
    <select>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <br></br>

  <h3>Bebidas</h3>

  <div class="carta-item">
    <img src="../imagen-no-disponible.jpeg" alt="Jugo de naranja">
    <div class="carta-item-info">
      <div class="carta-item-name">Jugo de naranja</div>
      <div class="carta-item-price">$150</div>
    </div>
    <select>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <div class="carta-item">
    <img src="../imagen-no-disponible.jpeg" alt="Jugo de naranja">
    <div class="carta-item-info">
      <div class="carta-item-name">Jugo de naranja</div>
      <div class="carta-item-price">$150</div>
    </div>
    <select>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <div class="total">Total: ---</div>
  <br></br>

  <div class="purchase-button-container">
    <button
      onclick="alert('¡Compra exitosa! Se te envió el QR de la compra al email registrado.')">
      Realizar Compra</button>
  </div>
</div>
</body>
</html>
