<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar nuevo pago - ¿Qué comemos?</title>
</head>
<body>
<nav>
  <div class="logo">
    <img src="assets/logo-facultad.png" alt="Logo de la Facultad">
    <h2>
      <a [routerLink]="['']"
         style="color: inherit; text-decoration: none;">¿Qué comemos?</a>
    </h2>
  </div>
  <div class="profile">
    <img src="assets/user.jpg" alt="Foto del Usuario">
    <div class="dropdown">
      <button class="dropbtn">Mi Perfil</button>
      <div class="dropdown-content">
        <button [routerLink]="['/responsable-editar-perfil']">Editar Perfil</button> <a
        href="logout.html">Salir</a>
      </div>
    </div>
  </div>
</nav>
<h1>Agregar nuevo pago</h1>
<form>
  <input type="text" placeholder="Código de compra" required><br>
  <input type="text" placeholder="Monto"><br>
  <input type="text" placeholder="Medio de pago">
  <button type="submit">Agregar pago</button>
  <button class="cancel" [routerLink]="['/responsable-pagos']">Cancelar</button>
</form>
</body>
</html>
