<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro - ¿Qué comemos?</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="assets/logo-facultad.png" alt="Logo de la Facultad" />
        <h2>
          <a
            [routerLink]="['/usuario-home']"
            style="color: white; text-decoration: none"
            >¿Qué comemos?</a
          >
        </h2>
      </div>
    </nav>
    <div class="center-container">
      <h1 class="center-text">Registro de Usuario</h1>
      <form>
        <input type="text" placeholder="Apellido" required class="full-width"/>
        <input type="text" placeholder="Nombres" required class="full-width"/>
        <input type="email" placeholder="Email" required class="full-width"/>
        <input type="text" placeholder="DNI" required class="full-width"/>
        <input type="password" placeholder="Contraseña" required class="full-width"/>
        <input type="file" accept="image/*" class="full-width"/>
        <button type="submit" class="full-width">Registrarse</button>
      </form>
    </div>
  </body>
</html>
