<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sugerencias - ¿Qué comemos?</title>
</head>
<body>
  <app-usuario-navbar></app-usuario-navbar>
<h1>Buzón de Sugerencias</h1>
<form>
  <select required>
    <option value="">Seleccione tipo de sugerencia</option>
    <option value="alimentos">Alimentos</option>
    <option value="infraestructura">Infraestructura</option>
    <option value="atencion">Atención</option>
  </select>
  <textarea placeholder="Escriba su sugerencia aquí" required></textarea>
  <button type="submit">Enviar Sugerencia</button>
</form>
</body>
</html>
