<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sugerencias - ¿Qué comemos?</title>
</head>
<body>
  <nav>
    <div class="logo">
      <a [routerLink]="['/usuario-home']">
        <img src="assets/logo-facultad.png" alt="Logo de la Facultad">
      </a>
      <h2>
        <a [routerLink]="['/usuario-home']"
           style="color: white; text-decoration: none;">¿Qué comemos?</a>
      </h2>
    </div>
  
    <div class="profile">
      <a [routerLink]="['/usuario-editar-perfil']">
          <img src="assets/user.jpg" alt="Foto del Usuario">
      </a>
      <h4>
        <a [routerLink]="['/usuario-editar-perfil']"
           style="color: white; text-decoration: none;">Salir</a>
      </h4>
  </div>
  </nav>
<h1>Buzón de Sugerencias</h1>
<form>
  <select required>
    <option value="">Seleccione tipo de sugerencia</option>
    <option value="alimentos">Alimentos</option>
    <option value="infraestructura">Infraestructura</option>
    <option value="atencion">Atención</option>
  </select>
  <textarea placeholder="Escriba su sugerencia aquí" required></textarea>
  <button type="submit">Enviar Sugerencia</button>
</form>
</body>
</html>
