<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sugerencias - ¿Qué comemos?</title>
</head>
</head>
<body>
<nav>
  <div class="logo">
    <img src="../logo-facultad.png" alt="Logo de la Facultad">
    <h2>
      <a href="usuario-home.html"
         style="color: inherit; text-decoration: none;">¿Qué comemos?</a>
    </h2>
  </div>
  <div class="profile">
    <img src="../user.jpg" alt="Foto del Usuario">
    <div class="dropdown">
      <button class="dropbtn">Mi Perfil</button>
      <div class="dropdown-content">
        <a href="usuario-editar-perfil.html">Editar perfil</a> <a
        href="logout.html">Salir</a>
      </div>
    </div>
  </div>
</nav>
<h1>Buzón de Sugerencias</h1>
<form>
  <select required>
    <option value="">Seleccione tipo de sugerencia</option>
    <option value="alimentos">Alimentos</option>
    <option value="infraestructura">Infraestructura</option>
    <option value="atencion">Atención</option>
  </select>
  <textarea placeholder="Escriba su sugerencia aquí" required></textarea>
  <button type="submit">Enviar Sugerencia</button>
</form>
</body>
</html>
