<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administración de Comidas - ¿Qué comemos?</title>
</head>
<body>
  <app-admin-navbar></app-admin-navbar>
<h1>Administración de Comidas</h1>
<div class="add-button-container">
  <button [routerLink]="['/admin-agregar-comida']">Agregar nueva comida</button>
</div>

<table class="comidas-table">
  <tr>
    <th class="col-nombre-comida">Nombre</th>
    <th class="col-precio-comida">Precio</th>
    <th class="col-imagen">Imagen</th>
    <th class="col-categoria">Categoría</th>
    <th class="col-acciones">Acciones</th>
  </tr>
  <tr *ngFor="let comida of comidas">
    <td class="col-nombre-comida">{{ comida.nombre }}</td>
    <td class="col-precio-comida">${{ comida.precio }}</td>
    <td class="col-imagen">
      <div class="menu-item">
        <img class="menu-image" [src]="comida.imagen ? comida.imagen : 'assets/imagen-no-disponible.jpeg'" alt="{{ comida.nombre }}">
      </div>
    </td>
    <td class="col-categoria">{{ comida.categoria }}</td>
    <td class="col-acciones">
      <div class="actions-container">
        <button [routerLink]="['/admin-editar-comida', comida.id]">Editar</button>
      </div>
      <div class="actions-container">
        <button>Eliminar</button>
      </div>
    </td>
  </tr>
  <!-- Repite para cada menú -->
</table>
</body>
</html>
