<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administración de Comidas - ¿Qué comemos?</title>
</head>
<body>
  <app-admin-navbar></app-admin-navbar>
<h1>Administración de Comidas</h1>
<div class="add-button-container">
  <button [routerLink]="['/admin-agregar-comida']">Agregar nueva comida</button>
</div>

<table>
  <tr>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Imagen</th>
    <th>Categoría</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let comida of comidas">
    <td>{{ comida.nombre }}</td>
    <td>${{ comida.precio }}</td>
    <td>
      <div class="menu-item">
        <img class="menu-image" src="{{ comida.imagen }}" alt="{{ comida.nombre }}">
      </div>
    </td>
    <td>{{ comida.categoria }}</td>
    <td>
      <button [routerLink]="['/admin-editar-comida', comida.id]">Editar</button>
      <button>Eliminar</button>
    </td>
  </tr>
  <!-- Repite para cada menú -->
</table>
</body>
</html>
