<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuarios Habilitados - ¿Qué comemos?</title>
</head>
<body>
	<app-responsable-navbar></app-responsable-navbar>
<h1>Usuarios Habilitados para Compra</h1>
<table>
  <tr>
    <th>Nombre</th>
    <th>DNI</th>
    <th>Estado</th>
  </tr>
  <tr>
    <td>Laura Sánchez</td>
    <td>12345678</td>
    <td>Habilitado</td>
  </tr>
  <tr>
    <td>Pedro Rodríguez</td>
    <td>87654321</td>
    <td>Deshabilitado</td>
  </tr>
</table>
</body>
</html>
