<nav>
  <div class="logo">
    <a [routerLink]="['/usuario-home']">
      <img src="assets/logo-facultad.png" alt="Logo de la Facultad" />
    </a>
    <h2>
      <a
        [routerLink]="['/usuario-home']"
        style="color: white; text-decoration: none"
        >¿Qué comemos?</a
      >
    </h2>
  </div>

  <div class="profile">
    <a [routerLink]="['/usuario-editar-perfil']">
      <img [src]="fotoDePerfil" alt="Foto del Usuario" />
    </a>
    <h4>
      <a href="#" (click)="logout()" style="color: white; text-decoration: none"
        >Salir</a
      >
    </h4>
  </div>
</nav>
