<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Pagos - ¿Qué comemos?</title>
</head>
<body>
  <app-responsable-navbar></app-responsable-navbar>
<h1>Registro de Pagos</h1>
  <button class="add-pago" [routerLink]="['/responsable-agregar-pago']">Agregar nuevo pago</button>
<table>
  <tr>
    <th>Usuario</th>
    <th>Monto</th>
    <th>Fecha</th>
    <th>Método de Pago</th>
  </tr>
  <tr>
    <td>Laura Sánchez</td>
    <td>$500</td>
    <td>21-09-2024</td>
    <td>Efectivo</td>
  </tr>
  <tr>
    <td>Pedro Rodríguez</td>
    <td>$1000</td>
    <td>21-09-2024</td>
    <td>Tarjeta de Débito</td>
  </tr>
</table>
</body>
</html>
