<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administración de Usuarios - ¿Qué comemos?</title>
</head>
<body>
  <app-admin-navbar></app-admin-navbar>
  <h1>Administración de Usuarios</h1>
  <div class="add-button-container">
    <button [routerLink]="['/admin-agregar-usuario']">Agregar nuevo usuario</button>
  </div>
  <table class="usuarios-table">
    <tr>
      <th class="col-nombre-usu">Nombre</th>
      <th class="col-turno">Turno</th>
      <th class="col-acciones">Acciones</th>
    </tr>
    <tr>
      <td class="col-nombre-usu">Ana Martínez</td>
      <td class="col-turno">Mañana</td>
      <td class="col-acciones">
        <div class="actions-container">
          <button [routerLink]="['/admin-editar-usuario']">Editar</button>
        </div>
        <div class="actions-container">
          <button>Eliminar</button>
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-nombre-usu">Carlos López</td>
      <td class="col-turno">Tarde</td>
      <td class="col-acciones">
        <div class="actions-container">
          <button [routerLink]="['/admin-editar-usuario']">Editar</button>
        </div>
        <div class="actions-container">
          <button>Eliminar</button>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
