<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administración de Usuarios - ¿Qué comemos?</title>
</head>
<body>
  <app-admin-navbar></app-admin-navbar>
<h1>Administración de Usuarios</h1>
  <button class="add-user"[routerLink]="['/admin-agregar-usuario']">Agregar nuevo usuario</button>
<table>
  <tr>
    <th>Nombre</th>
    <th>Turno</th>
    <th>Acciones</th>
  </tr>
  <tr>
    <td>Ana Martínez</td>
    <td>Mañana</td>
    <td>
      <button [routerLink]="['/admin-editar-usuario']">Editar</button>
      <button>Eliminar</button>
    </td>
  </tr>
  <tr>
    <td>Carlos López</td>
    <td>Tarde</td>
    <td>
      <button>Editar</button>
      <button>Eliminar</button>
    </td>
  </tr>
</table>
</body>
</html>
