<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Panel de Responsable de Turno - ¿Qué comemos?</title>

</head>
<body>
	<nav>
		<div class="logo">
			<img src="../logo-facultad.png" alt="Logo de la Facultad">
			<h2>
				<a href="resp-home.html"
					style="color: inherit; text-decoration: none;">¿Qué comemos?</a>
			</h2>
		</div>
		<div class="profile">
			<img src="../user.jpg" alt="Foto del Usuario">
			<div class="dropdown">
				<button class="dropbtn">Mi Perfil</button>
				<div class="dropdown-content">
					<a href="resp-editar-perfil.html">Editar perfil</a> <a
						href="logout.html">Salir</a>
				</div>
			</div>
		</div>
	</nav>
	<h1>Panel de Responsable de Turno</h1>
	<div class="buttons">
		<button onclick="location.href='resp-usuarios.html'">Usuarios Habilitados</button>
		<button onclick="location.href='resp-compras.html'">Compras de Menús</button>
		<button onclick="location.href='resp-pagos.html'">Registro de Pagos</button>
		<button onclick="location.href='resp-sugerencias.html'">Ver Sugerencias</button>
	</div>
</body>
</html>
