
<nav>
  <div class="logo">
    <img src="assets/logo-facultad.png" alt="Logo de la Facultad">
    <h2>
      <a [routerLink]="['/admin-home']"
         style="color: white; text-decoration: none;">¿Qué comemos?</a>
    </h2>
  </div>
  <div class="profile">
    <img src="assets/user.jpg" alt="Foto del Usuario">
    <p>Salir</p>
  </div>
</nav>
<h1>Panel de Administración General</h1>
<div class="buttons">
  <button [routerLink]="['/admin-menus']">Administrar Menús</button>
  <button [routerLink]="['/admin-comidas']">Administrar Comidas</button>
  <button [routerLink]="['/admin-sugerencia']">Ver Sugerencias</button>
  <button [routerLink]="['/admin-estadisticas']">Ver Estadísticas</button>
  <button [routerLink]="['/admin-usuarios']">Administrar Usuarios</button>
</div>

