<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar nuevo menú - ¿Qué comemos?</title>
</head>
<body>
<app-admin-navbar></app-admin-navbar>
<h1>Agregar nuevo menú</h1>
<form [formGroup]="formulario" (ngSubmit)="submitForm()">
  <div>
    <input
      type="text"
      placeholder="Nombre del menú"
      formControlName="nombre" />
    <div *ngIf="formulario.get('nombre')?.touched && formulario.get('nombre')?.invalid" class="error">
      El nombre del menú es obligatorio.
    </div>
  </div>

  <div>
    <input
      type="number"
      placeholder="Precio del menú"
      formControlName="precio" />
    <div *ngIf="formulario.get('precio')?.touched && formulario.get('precio')?.invalid" class="error">
      Precio obligatorio y debe ser un número positivo.
    </div>
  </div>

  <div>
    <select formControlName="entradaId">
      <option value="" disabled selected>Seleccione tipo Entrada</option>
      <option *ngFor="let entrada of entradas" [value]="entrada.id">
        {{ entrada.nombre }}
      </option>
    </select>
    <div *ngIf="formulario.get('entradaId')?.touched && formulario.get('entradaId')?.invalid" class="error">
      Debe seleccionar una entrada (opcional).
    </div>
  </div>

  <div>
    <select formControlName="platoPrincipalId">
      <option value="" disabled selected>Seleccione tipo de Plato Principal</option>
      <option *ngFor="let principal of principales" [value]="principal.id">
        {{ principal.nombre }}
      </option>
    </select>
    <div *ngIf="formulario.get('platoPrincipalId')?.touched && formulario.get('platoPrincipalId')?.invalid" class="error">
      Debe seleccionar un plato principal (opcional).
    </div>
  </div>

  <div>
    <select formControlName="bebidaId">
      <option value="" disabled selected>Seleccione tipo de Bebida</option>
      <option *ngFor="let bebida of bebidas" [value]="bebida.id">
        {{ bebida.nombre }}
      </option>
    </select>
    <div *ngIf="formulario.get('bebidaId')?.touched && formulario.get('bebidaId')?.invalid" class="error">
      Debe seleccionar una bebida (opcional).
    </div>
  </div>

  <div>
    <select formControlName="postreId">
      <option value="" disabled selected>Seleccione tipo de Postre</option>
      <option *ngFor="let postre of postres" [value]="postre.id">
        {{ postre.nombre }}
      </option>
    </select>
    <div *ngIf="formulario.get('postreId')?.touched && formulario.get('postreId')?.invalid" class="error">
      Debe seleccionar un postre (opcional).
    </div>
  </div>

  <div>
    <input
      type="checkbox"
      id="vegetariano"
      formControlName="esVegetariano" />
    <label for="vegetariano" class="small-text">¿Es vegetariano?</label>
  </div>
  <br>

  <div>
    <label for="fechaVenta" class="small-text">Fecha de venta:</label>
    <input
      type="date"
      id="fechaVenta"
      formControlName="fecha" />
    <div *ngIf="formulario.get('fecha')?.touched && formulario.get('fecha')?.invalid" class="error">
      Debe seleccionar una fecha.
    </div>
  </div>

  <div class="submit-container">
    <button type="submit">Agregar menú</button>
  </div>
</form>

</body>
</html>
