<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar nuevo menú - ¿Qué comemos?</title>
</head>
<body>
  <app-admin-navbar></app-admin-navbar>
<h1>Agregar nuevo menú</h1>
<form (ngSubmit)="submitForm()">
  <!-- Nombre del menú -->
  <label for="nombre">Nombre del menú:</label>
  <input type="text" id="nombre" [(ngModel)]="menu.nombre" name="nombre" required />

  <!-- Precio del menú -->
  <label for="precio">Precio del menú:</label>
  <input type="number" id="precio" [(ngModel)]="menu.precio" name="precio" required />

  <!-- Entrada -->
  <label for="entradaId">Entrada:</label>
  <select [(ngModel)]="menu.entradaId" id="entradaId" name="entradaId" required>
    <option value="">Seleccione tipo Entrada</option>
    <option *ngFor="let entrada of entradas" [value]="entrada.id">{{ entrada.nombre }}</option>
  </select>

  <!-- Plato Principal -->
  <label for="platoPrincipalId">Plato Principal:</label>
  <select [(ngModel)]="menu.platoPrincipalId" id="platoPrincipalId" name="platoPrincipalId" required>
    <option value="">Seleccione tipo Plato Principal</option>
    <option *ngFor="let principal of principales" [value]="principal.id">{{ principal.nombre }}</option>
  </select>

  <!-- Bebida -->
  <label for="bebidaId">Bebida:</label>
  <select [(ngModel)]="menu.bebidaId" id="bebidaId" name="bebidaId" required>
    <option value="">Seleccione tipo Bebida</option>
    <option *ngFor="let bebida of bebidas" [value]="bebida.id">{{ bebida.nombre }}</option>
  </select>

  <!-- Postre -->
  <label for="postreId">Postre:</label>
  <select [(ngModel)]="menu.postreId" id="postreId" name="postreId" required>
    <option value="">Seleccione tipo Postre</option>
    <option *ngFor="let postre of postres" [value]="postre.id">{{ postre.nombre }}</option>
  </select>

  <!-- Es vegetariano -->
  <div class="checkbox-vegie">
    <input type="checkbox" id="vegetariano" name="vegetariano" [(ngModel)]="menu.esVegetariano" />
    <label for="vegetariano">¿Es vegetariano?</label>
  </div>

  <!-- Fecha de venta -->
  <div class="fecha-venta">
    <label for="fecha">Fecha de venta:</label>
    <input type="date" id="fecha" [(ngModel)]="menu.fecha" name="fecha" required />
  </div>

  <!-- Botones -->
  <button type="submit">Agregar menú</button>
  <button class="cancel" [routerLink]="['/admin-menus']">Cancelar</button>
</form>

</body>
</html>
