<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administración de Menús - ¿Qué comemos?</title>
</head>
<body>
  <app-admin-navbar></app-admin-navbar>
  <h1>Administración de Menús</h1>
  <div class="add-button-container">
    <button [routerLink]="['/admin-agregar-menu']">Agregar nuevo menú</button>
  </div>
  <table class="menus-table">
    <tr>
      <th class="col-nombre-menu">Nombre</th>
      <th class="col-tipo-menu">Tipo</th>
      <th class="col-precio-menu">Precio</th>
      <th class="col-entrada">Entrada</th>
      <th class="col-principal">Plato Principal</th>
      <th class="col-postre">Postre</th>
      <th class="col-bebida">Bebida</th>
      <th class="col-fecha-menu">Fecha de Venta</th>
      <th class="col-acciones">Acciones</th>
    </tr>
    <tr *ngFor="let menu of menues">
      <td class="col-nombre-menu">{{ menu.nombre }}</td>
  
      <td class="col-tipo-menu">{{ menu.esVegetariano ? 'Vegetariano' : 'Regular' }}</td>
  
      <td class="col-precio-menu">${{ menu.precio }}</td>
  
      <td class="col-entrada">
        <ng-container *ngIf="hasCategory(menu, 'ENTRADA'); else noEntrada">
          <div *ngFor="let comida of menu.comidas">
            <div class="menu-item" *ngIf="comida.categoria == 'ENTRADA'">
              <div class="image-container">
                <img class="menu-image-menu" [src]="comida.imagen ? comida.imagen : 'assets/imagen-no-disponible.jpeg'" alt="{{ comida.nombre }}">
              </div>
              <span>{{ comida.nombre }}</span>
            </div>
          </div>
        </ng-container>
        <ng-template #noEntrada>No disponible</ng-template>
      </td>
  
      <td class="col-principal">
        <ng-container *ngIf="hasCategory(menu, 'PLATO_PRINCIPAL'); else noPrincipal">
          <div *ngFor="let comida of menu.comidas">
            <div class="menu-item" *ngIf="comida.categoria == 'PLATO_PRINCIPAL'">
              <div class="image-container">
                <img class="menu-image-menu" [src]="comida.imagen ? comida.imagen : 'assets/imagen-no-disponible.jpeg'" alt="{{ comida.nombre }}">
              </div>
              <span>{{ comida.nombre }}</span>
            </div>
          </div>
        </ng-container>
        <ng-template #noPrincipal>No disponible</ng-template>
      </td>
  
      <td class="col-postre">
        <ng-container *ngIf="hasCategory(menu, 'POSTRE'); else noPostre">
          <div *ngFor="let comida of menu.comidas">
            <div class="menu-item" *ngIf="comida.categoria == 'POSTRE'">
              <div class="image-container">
                <img class="menu-image-menu" [src]="comida.imagen ? comida.imagen : 'assets/imagen-no-disponible.jpeg'" alt="{{ comida.nombre }}">
              </div>
              <span>{{ comida.nombre }}</span>
            </div>
          </div>
        </ng-container>
        <ng-template #noPostre>No disponible</ng-template>
      </td>
  
      <td class="col-bebida">
        <ng-container *ngIf="hasCategory(menu, 'BEBIDA'); else noBebida">
          <div *ngFor="let comida of menu.comidas">
            <div class="menu-item" *ngIf="comida.categoria == 'BEBIDA'">
              <div class="image-container">
                <img class="menu-image-menu" [src]="comida.imagen ? comida.imagen : 'assets/imagen-no-disponible.jpeg'" alt="{{ comida.nombre }}">
              </div>
              <span>{{ comida.nombre }}</span>
            </div>
          </div>
        </ng-container>
        <ng-template #noBebida>No disponible</ng-template>
      </td>
  
      <td class="col-fecha-menu">{{ menu.fecha | date:'dd-MMM-yyyy' }}</td>
      <td class="col-acciones">
        <div class="actions-container">
          <button [routerLink]="['/admin-editar-menu', menu.id]">Editar</button>
        </div>
        <div class="actions-container">
          <button>Eliminar</button>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
