<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administración de Menús - ¿Qué comemos?</title>
</head>
<body>
  <app-admin-navbar></app-admin-navbar>
<h1>Administración de Menús</h1>
  <button class="add-menu" [routerLink]="['/admin-agregar-menu']">Agregar
  nuevo menú</button>
<table>
  <tr>
    <th>Nombre</th>
    <th>Tipo</th>
    <th>Precio</th>
    <th>Entrada</th>
    <th>Plato Principal</th>
    <th>Postre</th>
    <th>Bebida</th>
    <th>Fecha de Venta</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let menu of menues">
    <td>{{ menu.nombre }}</td>
    <td *ngIf="menu.vegetariano;else noVeggie">Sí</td>
    <ng-template #noVeggie>
      <td>No</td>
    </ng-template>
    <td>${{ menu.precio }}</td>
    <td>
      <div *ngFor="let comida of menu.comidas">
        <div class="menu-item" *ngIf="comida.categoria == 'ENTRADA'">
          <span>{{ comida.nombre }}</span> <img class="menu-image" src="{{ comida.imagen }}" alt="Imagen de la entrada">
        </div>
      </div>
    </td>
    <td>
      <div *ngFor="let comida of menu.comidas">
        <div class="menu-item" *ngIf="comida.categoria == 'PLATO_PRINCIPAL'">
          <span>{{ comida.nombre }}</span> <img class="menu-image" src="{{ comida.imagen }}" alt="Imagen del plato principal">
        </div>
      </div>
    </td>
    <td>
      <div *ngFor="let comida of menu.comidas">
        <div class="menu-item" *ngIf="comida.categoria == 'POSTRE'">
          <span>{{ comida.nombre }}</span> <img class="menu-image" src="{{ comida.imagen }}" alt="Imagen del postre">
        </div>
      </div>
    </td>
    <td>
      <div *ngFor="let comida of menu.comidas">
        <div class="menu-item" *ngIf="comida.categoria == 'BEBIDA'">
          <span>{{ comida.nombre }}</span> <img class="menu-image" src="{{ comida.imagen }}" alt="Imagen de la bebida">
        </div>
      </div>
    </td>
    <td>{{ menu.fecha }}</td>
    <td>
      <button [routerLink]="['/admin-editar-menu']">Editar</button>
      <button>Eliminar</button>
    </td>
  </tr>
</table>
</body>
</html>
