<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administración de Menús - ¿Qué comemos?</title>
</head>
<body>
<nav>
  <div class="logo">
    <img src="../logo-facultad.png" alt="Logo de la Facultad">
    <h2>
      <a href="admin-home.html"
         style="color: inherit; text-decoration: none;">¿Qué comemos?</a>
    </h2>
  </div>
  <div class="profile">
    <img src="../user.jpg" alt="Foto del Usuario">
    <p>Salir</p>
  </div>
</nav>
<h1>Administración de Menús</h1>
<button class="add-menu"
        onclick="window.location.href='admin-agregar-menu.html'">Agregar
  nuevo menú</button>
<table>
  <tr>
    <th>Nombre</th>
    <th>Tipo</th>
    <th>Precio</th>
    <th>Entrada</th>
    <th>Plato Principal</th>
    <th>Postre</th>
    <th>Bebida</th>
    <th>Fecha de Venta</th>
    <th>Acciones</th>
  </tr>
  <tr>
    <td>Menú Ejecutivo</td>
    <td>No Vegetariano</td>
    <td>$1500</td>
    <td>
      <div class="menu-item">
        <span>Empanadita de carne</span> <img class="menu-image"
                                              src="../imagen-no-disponible.jpeg" alt="Imagen de la entrada">
      </div>
    </td>
    <td>
      <div class="menu-item">
        <span>Arroz con pollo</span> <img class="menu-image"
                                          src="../imagen-no-disponible.jpeg" alt="Imagen del plato principal">
      </div>
    </td>
    <td>
      <div class="menu-item">
        <span>Flan con dulce de leche</span> <img class="menu-image"
                                                  src="../imagen-no-disponible.jpeg" alt="Imagen del postre">
      </div>
    </td>
    <td>
      <div class="menu-item">
        <span>Coca Cola</span> <img class="menu-image"
                                    src="../imagen-no-disponible.jpeg" alt="Imagen de la bebida">
      </div>
    </td>
    <td>19-sep-2024</td>
    <td>
      <button onclick="window.location.href='admin-editar-menu.html'">Editar</button>
      <button>Eliminar</button>
    </td>
  </tr>
</table>
</body>
</html>
