<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Compras de Menús - ¿Qué comemos?</title>
</head>
<body>
  <nav>
		<div class="logo">
		  <a [routerLink]="['/responsable-home']">
			<img src="assets/logo-facultad.png" alt="Logo de la Facultad">
		  </a>
		  <h2>
			<a [routerLink]="['/responsable-home']"
			   style="color: white; text-decoration: none;">¿Qué comemos?</a>
		  </h2>
		</div>
	  
		<div class="profile">
		  <a [routerLink]="['/responsable-editar-perfil']">
			  <img src="assets/user.jpg" alt="Foto del Usuario">
		  </a>
		  <h4>
			<a [routerLink]="['/responsable-editar-perfil']"
			   style="color: white; text-decoration: none;">Salir</a>
		  </h4>
	  </div>
	  </nav>
<h1>Compras de Menús</h1>
<table>
  <tr>
    <th>Usuario</th>
    <th>Menú</th>
    <th>Cantidad</th>
    <th>Fecha</th>
    <th>Estado</th>
  </tr>
  <tr>
    <td>Laura Sánchez</td>
    <td>Menú Ejecutivo</td>
    <td>1</td>
    <td>21-sep-2024</td>
    <td>Pagado</td>
  </tr>
  <tr>
    <td>Pedro Rodríguez</td>
    <td>Menú Vegetariano</td>
    <td>2</td>
    <td>21-sep-2024</td>
    <td>Pendiente</td>
  </tr>
</table>
</body>
</html>
