<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio - ¿Qué comemos?</title>
</head>
<body>
<nav>
  <div class="logo">
    <a [routerLink]="['/usuario-home']">
      <img src="assets/logo-facultad.png" alt="Logo de la Facultad">
    </a>
    <h2>
      <a [routerLink]="['/usuario-home']"
         style="color: white; text-decoration: none;">¿Qué comemos?</a>
    </h2>
  </div>

  <div class="profile">
    <a [routerLink]="['/usuario-editar-perfil']">
        <img src="assets/user.jpg" alt="Foto del Usuario">
    </a>
    <h4>
      <a [routerLink]="['/usuario-editar-perfil']"
         style="color: white; text-decoration: none;">Salir</a>
    </h4>
</div>
</nav>
<h1>Bienvenido, {{ email }}</h1>
<div class="buttons">
  <button [routerLink]="['/usuario-menu-del-dia']">Menú del día</button>
  <button [routerLink]="['/usuario-sugerencia']">Sugerencias</button>
</div>
</body>
</html>

