<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio - ¿Qué comemos?</title>
</head>
<body>
<nav>
  <div class="logo">
    <img src="assets/logo-facultad.png" alt="Logo de la Facultad">
    <h2>
      <a [routerLink]="['/usuario-home']"
         style="color: white; text-decoration: none;">¿Qué comemos?</a>
    </h2>
  </div>
  <div class="profile">
    <img src="assets/user.jpg" alt="Foto del Usuario">
    <div class="dropdown">
      <button class="dropbtn">Mi Perfil</button>
      <div class="dropdown-content">
        <button [routerLink]="['/usuario-editar-perfil']">Editar Perfil</button> <a
        href="logout.html">Salir</a>
      </div>
    </div>
  </div>
</nav>
<h1>Bienvenido, {{ email }}</h1>
<div class="buttons">
  <button [routerLink]="['/usuario-menu-del-dia']">Menú del día</button>
  <button [routerLink]="['/usuario-sugerencia']">Sugerencias</button>
</div>
</body>
</html>

