<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Perfil - ¿Qué comemos?</title>
</head>
<body>
  <nav>
		<div class="logo">
		  <a [routerLink]="['/responsable-home']">
			<img src="assets/logo-facultad.png" alt="Logo de la Facultad">
		  </a>
		  <h2>
			<a [routerLink]="['/responsable-home']"
			   style="color: white; text-decoration: none;">¿Qué comemos?</a>
		  </h2>
		</div>
	  
		<div class="profile">
		  <a [routerLink]="['/responsable-editar-perfil']">
			  <img src="assets/user.jpg" alt="Foto del Usuario">
		  </a>
		  <h4>
			<a [routerLink]="['/responsable-editar-perfil']"
			   style="color: white; text-decoration: none;">Salir</a>
		  </h4>
	  </div>
	  </nav>
<h1>Editar mi Perfil</h1>
<form>
  <input type="text" placeholder="Apellido" required> <input
  type="text" placeholder="Nombres" required> <input
  type="email" placeholder="Email" required> <input type="password"
                                                    placeholder="Contraseña" required>
  <img class="profile-image" src="assets/imagen-no-disponible.jpeg" alt="Imagen de perfil">
  <input type="file"
         accept="image/*">
  <button type="submit">Actualizar perfil</button>
</form>
</body>
</html>
