<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de Sesión - ¿Qué comemos?</title>
</head>
<body>
<nav>
  <div class="logo">
    <img src="assets/logo-facultad.png" alt="Logo de la Facultad">
    <h2>
      <a [routerLink]="['/usuario-home']"
         style="color: inherit; text-decoration: none;">¿Qué comemos?</a>
    </h2>
  </div>
</nav>
<h1>¿Qué comemos? - Buffet Facultad de Informática</h1>
<form>
  <input type="text" placeholder="DNI" required> <input
  type="password" placeholder="Contraseña" required>
  <button type="submit">Iniciar Sesión</button>
</form>
<p>
  <a href="usuario-registro.html">¿No tienes cuenta? Regístrate</a>
</p>
</body>
</html>
