body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0px;
}

h1, h2, h3 {
  color: #5f2525
;
  padding: 0 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.menu, .carta-item {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-info {
  flex-grow: 1;
}

.menu h2 {
  margin-top: 0;
}

.menu-price {
  font-weight: bold;
  color: #5f2525;
  font-size: 1.2em;
  margin: 10px 0;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item span {
  text-align: center;
}

.carta-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 15px;
}

.carta-item-info {
  flex-grow: 1;
}

.carta-item-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.carta-item-price {
  color: #888;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #5f2525
;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

nav .logo a {
  color:black;
  text-decoration: none;
}

nav .profile {
  display: flex;
  align-items: center;
}

nav .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-top: -20px;
}

.buttons button {
  color: white;
  background: #333;
  padding: 30px;
  margin: 10px;
  border: none;
  font-size: 30px;
  cursor: pointer;
  border-radius: 15px;
  width: 20%;
}

table {
  width: 60%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #5f2525;
  color: white;
  text-align: center;
}

.add-pago {
  display: block;
  margin: auto auto 30px;
}

.add-user {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

.add-comida {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

form {
  max-width: 300px;
  margin: auto;
}
select, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.total {
  font-weight: bold;
  margin-top: 20px;
  text-align: right;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group input {
  width: 200%;
}
.input-group {
  display: flex;
  flex-direction: column;
  align-items: start;
}

button {
  width: 100%;
  padding: 10px;
  background: #5f2525;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover,
.purchase-button-container button:hover,
.submit-container button:hover,
.buttons button:hover {
  background-color: #7a3a3a;
}

.purchase-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.menu-actions {
  display: flex;
  align-items: center;
}

button.cancel {
  background:
    white;
  color:
    #5f2525;
  border: 2px solid
  #5f2525;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-top: -20px;
}

.buttons button {
  color: white;
  background: #333;
  padding: 30px;
  margin: 10px;
  border: none;
  font-size: 30px;
  cursor: pointer;
  border-radius: 15px;
  width: 20%;
}

.profile-image {
  width: 100px;
  align-items: center;
}

.chart {
  width: 100%;
  max-width: 600px;
  height: 300px;
  margin: 20px auto;
  background-color: #f0f0f0;
}

.checkbox-vegie {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

#vegetariano {
  width: 30px;
}

#enCarta {
  width: 30px;
}

.fecha-venta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.checkbox-esComida {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

#esComida {
  width: 30px;
}

/* Estilos agregados Pocha */
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.full-width {
  width: 100%;
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

selection {
  padding: 0px;
  font-size: 14px;
  width: 50px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #fff;
  color: #000000;
  appearance: auto;
  text-align: left;
  cursor: pointer;
}

selection:hover {
  border-color: #5f2525;
}

selection:focus {
  outline: none;
  border-color: #5f2525;
  box-shadow: 0 0 5px rgb(95, 37, 37);
}

.menu-details-button {
  width: 200px;
  padding: 15px;
  border-radius: 15px;
  background: #333;
}

.menu-details-button-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
}

.purchase-button-container button {
  width: 400px; 
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 15px;
  background: #333;
  font-size: 20px;
}



.add-button-container {
  display: flex;
  justify-content: center;
  margin-left: 5px;
}

.add-button-container button {
  width: 300px; 
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 15px;
  background: #333;
  font-size: 20px;
}

.submit-container {
  display: flex;
  justify-content: center;
  margin-left: 5px;
}

.submit-container button {
  width: 200px;
  padding: 15px;
  border-radius: 15px;
  background: #333;
}

.actions-container {
  display: flex;
  justify-content: center;
  margin-left: 0px;
}

.actions-container button {
  width: 100px;
  padding: 10px;
  border-radius: 15px;
  background: #333;
}

/* Tabla de comidas */

.comidas-table {
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 50px;
}

.comidas-row {
  min-height: 10000px; /* Ajusta este valor según tus necesidades */
}

.col-nombre-comida {
  width: 20%;
}

.col-precio-comida {
  width: 10%;
  text-align: center;
}

.col-imagen {
  width: 30%;
}

.col-categoria {
  width: 20%;
  text-align: center;
}

.col-acciones {
  width: 20%;
  text-align: center;
}

.menu-item {
  text-align: center;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-image-comida {
  max-width: 100%;
  width: 150px;
  height: auto;
}


/* Tabla de menus */

.menus-table {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 50px;
}

.col-nombre-menu {
  width: 13%;
}

.col-tipo-menu {
  width: 12%;
  text-align: center;
}

.col-precio-menu {
  width: 7%;
}

.col-entrada, .col-principal, .col-postre, .col-bebida {
  width: 14%;
  text-align: center;
}

.col-fecha-menu {
  width: 17%;
  text-align: center;
}

.menu-item {
  text-align: center;
}

.menu-image-menu {
  max-width: 100%;
  width: 100px;
  height: auto;
}

.col-acciones-menu {
  width: 5%;
  text-align: center;
}


/* Tabla de sugerencias */

.sugerencias-table {
  width: 70%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Ajusta este valor según tus necesidades */
}

.col-usuario {
  width: 15%;
}

.col-tipo-sug {
  width: 15%;
}

.col-fecha-sug {
  width: 15%;
}

.col-mensaje {
  width: 45%;
}


/* Tabla de usuarios */

.usuarios-table {
  width: 40%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Ajusta este valor según tus necesidades */
}

.col-nombre-usu {
  width: 45%;
}

.col-turno {
  width: 25%;
  text-align: center;
}

.small-text {
  font-size: 14px;
}
