<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar menú - ¿Qué comemos?</title>
</head>
<body>
  <app-admin-navbar></app-admin-navbar>
  <h1>Editar Menú</h1>
  <form [formGroup]="menuForm" (ngSubmit)="onSubmit()">
    <label>Nombre:</label>
    <input type="text" formControlName="nombre" /><br />

    <label>Precio:</label>
    <input type="number" formControlName="precio" /><br />

    <label>Vegetariano:</label>
    <input type="checkbox" formControlName="vegetariano" /><br />

    <label>Fecha de venta:</label>
    <input type="date" formControlName="fecha" /><br />

    <label>Entrada:</label>
    <select formControlName="entrada">
      <option *ngFor="let entrada of entradas" [value]="entrada.id">
        {{ entrada.nombre }}
      </option>
    </select><br />

    <label>Plato Principal:</label>
    <select formControlName="principal">
      <option *ngFor="let principal of principales" [value]="principal.id">
        {{ principal.nombre }}
      </option>
    </select><br />

    <label>Postre:</label>
    <select formControlName="postre">
      <option *ngFor="let postre of postres" [value]="postre.id">
        {{ postre.nombre }}
      </option>
    </select><br />

    <label>Bebida:</label>
    <select formControlName="bebida">
      <option *ngFor="let bebida of bebidas" [value]="bebida.id">
        {{ bebida.nombre }}
      </option>
    </select><br />

    <button type="submit" [disabled]="menuForm.invalid">Guardar</button>
    <button type="button" (click)="onCancel()">Cancelar</button>
  </form>


</body>
</html>
