<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar menú - ¿Qué comemos?</title>
</head>
<body>
<nav>
  <div class="logo">
    <img src="assets/logo-facultad.png" alt="Logo de la Facultad">
    <h2>
      <a [routerLink]="['/admin-home']"
         style="color: inherit; text-decoration: none;">¿Qué comemos?</a>
    </h2>
  </div>
  <div class="profile">
    <img src="assets/user.jpg" alt="Foto del Usuario">
    <p>Salir</p>
  </div>
</nav>
<h1>Editar menú</h1>
<form>
  <input type="text" placeholder="Nombre del menú" required><br>
  <input type="text" placeholder="Precio del menú"><br>
  <select
    required>
    <option value="">Seleccione tipo Entrada</option>
    <option value="alimentos">Empanada</option>
    <option value="infraestructura">Arrollado primavera</option>
  </select>
  <select
    required>
    <option value="">Seleccione tipo de Plato Principal</option>
    <option value="alimentos">Pollo</option>
    <option value="infraestructura">Milanesa con puré</option>
  </select>
  <select
    required>
    <option value="">Seleccione tipo de Bebida</option>
    <option value="alimentos">Agua</option>
    <option value="infraestructura">Gaseosa</option>
  </select>
  <select
    required>
    <option value="">Seleccione tipo de Postre</option>
    <option value="alimentos">Flan</option>
    <option value="infraestructura">Helado</option>
  </select>
  <div class="checkbox-vegie">
    <input type="checkbox" id="vegetariano" name="vegetariano" value="Si">
    <label for="vegetariano">¿Es vegetariano?</label> <br>
  </div>
  <br>
  <div class="fecha-venta">
    <label for="fechaVenta">Fecha de venta:</label> <input type="date"
                                                           id="fechaVenta" name="fechaVenta" placeholder="">
  </div>
  <br>
  <button type="submit">Editar menú</button>
  <br>
  <button class="cancel" [routerLink]="['/admin-menus']">Cancelar</button>
</form>
</body>
</html>
