<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar comida - ¿Qué comemos?</title>
</head>
<body>
  <app-admin-navbar></app-admin-navbar>
<h1>Editar comida</h1>
<form [formGroup]="formulario" (ngSubmit)="update()">
  <input type="text" formControlName="nombre" required>
  <input type="text" formControlName="precio" required>
  <select formControlName="categoria" required>
    <option value="" disabled>Seleccione categoría</option>
    <option value="ENTRADA">Entrada</option>
    <option value="PLATO_PRINCIPAL">Plato principal</option>
    <option value="BEBIDA">Bebida</option>
    <option value="POSTRE">Postre</option>
  </select>
  <div>
    <input type="checkbox" id="enCarta" formControlName="enCarta">
    <label for="enCarta" class="small-text">¿Se ofrece en la carta de comidas?</label>
  </div>
  <div>
    <input type="checkbox" id="vegetariano" formControlName="vegetariano">
    <label for="vegetariano" class="small-text">¿Es vegetariano?</label>
  </div>
  <div>
    <input 
      type="file" 
      accept="image/*" 
      (change)="onFileSelected($event)" 
      class="full-width"
      formControlName="imagen"
    />
  </div>
  <div class="submit-container">
    <button type="submit">Editar comida</button>
  </div>
</form>
</body>
</html>
