<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Panel de Responsable de Turno - ¿Qué comemos?</title>
</head>
<body>
	<app-responsable-navbar></app-responsable-navbar>
	<h1>Panel de Responsable de Turno</h1>
	<div class="buttons">
    <button [routerLink]="['/responsable-usuarios']">Usuarios Habilitados</button>
    <button [routerLink]="['/responsable-compras']">Compras de Menús</button>
    <button [routerLink]="['/responsable-pagos']">Registro de Pagos</button>
    <button [routerLink]="['/responsable-sugerencias']">Ver Sugerencias</button>
	</div>
</body>
</html>
